<% action = (user.persisted? ? user_user(user) : users_url) %>
<% method = (user.persisted? ? "patch" : "post") %>
<% message = (user.persisted? ? "Update" : "Create") %>

<form action=" <%= action %> " method="post">
  <input name="_method" type="hidden" value=" <%= method %> ">
  <input name="authenticity_token" type="hidden" value=" <%= form_authenticity_token %> ">

  <label for="user_username">Username</label>
  <input id="user_username" type="text" name="user[username]" value=" <%= user.username %> ">
  <br>
  <label for="user_password"></label>
  <input id="user_password" type="password" name="user[password]" value="<%= user.password%>">
  <br>

  <input type="submit" name="" value=" <%= message %> ">

</form>
